* {
  background-color: #191970;
  color: #E6E6FA;
  padding: 5px 20px;
  font-family: "Ink Free";
}

.header {
  text-align: center;
  position: sticky;
  margin: 10px 10px 5px 10px;
}

#footer {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 3px;
}

#navButtons {
  position: relative;
  transform: translate(2.5%, -155%);
  background-color: transparent;
  text-align: center;
  margin: 0px;
  padding: 0px;
  font-family: "Segoe Print";
  color: #151336;
  border-radius: 6px;
  display: flex;
  flex-flow: row nowrap;
  white-space: nowrap;
  justify-content: center;
}

.navBtn {
  color: #151336;
  background-color: transparent;
  text-align: center;
  padding: 0px;
}

.navBtn:hover {
  background-color: #191970;
  color: #E6E6FA;
}

#logo {
  text-align: center;
  position: relative;
  margin: 0px;
}

#logoText {
  font-family: "Segoe Script";
  font-size: 75px;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
}

#TY-footer {
  font-size: 30px;
  font-weight: bold;
  color: #252252;
  position: relative;
  transform: translate(-2%, -530%);
  background-color: transparent;
  text-align: center;
}

p {
  font-family: "Ink Free";
  font-size: 28px;
}

.sectionTitle {
  font-family: "Ink Free";
  font-size: 45px;
  text-align: center;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  padding: 0px;
}

.welcomeLine1 {
  text-align: center;
  font-family: "Ink Free";
  font-size: 55px;
  border: 0px;
  margin: 5px;
  margin-top: 15px;
}

.welcomeLine2 {
  text-align: center;
  font-family: "Ink Free";
  font-size: 40px;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  margin: 5px;
  margin-top: 15px;
}

#homeBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#homeTextBox {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

#homeSummary {
  font-size: 20px;
  padding-top: 0px;
  padding-bottom: 35px;
}

.createAcctBtn {
  border: 2px solid #E6E6FA;
  background-image: url("https://images.pexels.com/photos/1556797/pexels-photo-1556797.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  color: #252252;
  border-radius: 4px;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  padding: 10px;

}

.createAcctBtn:hover {
  color: #E6E6Fa;
  background-image: url("https://images.pexels.com/photos/1646311/pexels-photo-1646311.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}

.anchorButtons {
  text-align: center;
  margin: 5px;
  padding: 0px;
}

/* BEGINNER'S GUIDE TEXT EDITS */
.bgBox {
  display: flex;
  flex-direction: row;
  padding: 0px;
  margin: 0px;
  justify-content: space-around;
}

.bg-p {
  font-size: 22px;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

#bgNote {
  font-size: 18px;
  text-align: center;
}

#holdPdl-p {
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
}

h6 {
  font-size: 35px;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  font-weight: bold;
  padding: 0px;
  margin-bottom: 0px;
}

#tandems {
  margin-top: 2px;
}

/* BEGIN IMAGE EDITS */

/* IMAGES ON ALL PAGES */
#headImg {
  width: 100%;
}

#logoPhoto {
  max-height: 400px;
  width: auto;
}

#landscapeFooter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/* HOME PAGE IMAGES */
#mntnsGirl, #kayakDogs {
  max-height: 330px;
  width: auto;
  justify-content: center;
}

#holdPadImg {
  max-width: 500px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* BEGINNER'S GUIDE IMAGES */
#pdlOvrHd {
  max-height: 350px;
  width: auto;
}

#fnlPdlPosImg {
  max-height: 350px;
  width: auto;
}

#fwdStrokeImg {
  max-width: 480px;
  height: auto;
}

#backStrokeImg {
  max-width: 460px;
  height: auto;
}

#sweepStkImg {
  max-width: 450px;
  height: auto;
  margin-top: 7px;
}

#beachLaunch {
  max-width: 500px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#crlyhrgrl {
  max-height: 300px;
  width: auto;
  margin-top: 50px;
  margin-left: 0px;
  padding-left: 2px;
}

#tndm-MnA {
  max-width: 500px;
  height: auto;
}

#dockLaunch {
  max-height: 310px;
  width: auto;
  margin-top: 10px;
  margin-left: 2px;
}

#floatLaunch {
  max-height: 250px;
  width: auto;
}

#rockyLaunch {
  max-height: 250px;
  width: auto;
  margin-top: 10px;
}

#inWater {
  max-width: 430px;
  height: auto;
  margin-top: 30px;
  margin-left: 25px;
}

#landImg {
  max-width: 550px;
  height: auto;
  margin-top: 10px;
  margin-bottom: 0px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#beachLand {
  max-width: 450px;
  height: auto;
  margin-bottom: 5px;
  margin-top: 0px;
}

#dockLand {
  max-height: 250px;
  width: auto;
  margin-top: 10px;
}

#rockyLand {
  max-height: 300px;
  width: auto;
}

#hangKayaks {
  max-height: 350px;
  width: auto;
  margin-top: 20px;
}

#lifevests {
  max-height: 255px;
  width: auto;
  margin-top: 20px;
}

.construction {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
/* END IMAGE EDITS */

/* TRACKER TEXT */
#trackerHeading {
  font-family: "Ink Free";
  text-align: center;
  font-size: 65px;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  padding: 5px;
  margin: 25px;
}

#trackerPageContainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: transparent;
  width: auto;
}

.mapContainer * {
  background-color: transparent;
  padding: 0px;
}

#trackerMap {
  height: 900px;
  width: 750px;
  padding: 3px;
  padding-top: 8px;
  border: 2px solid #E6E6FA;
  border-radius: 5px;
}

#kayakTracker {
  border: 1px solid #E6E6FA;
  padding: 5px;
  border-radius: 7px;
  max-width: 40%;
  height: 100%;
}

.tracking {
  font-family: "Ink Free";
  font-size: 35px;
  text-align: center;
  padding: 1px 5px;
  border-radius: 2px;
  max-height: 5%;
}

#sw-time, #sw-distance, #sw-pace {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
}

#sw-resetButton, #sw-startButton {
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
  padding: 55px 20px;
  display: inline-block;
  border: 5px solid #E6E6FA;
  border-radius: 2px;
  font-size: 50px;
  text-align: center;
  justify-content: center;
}

.trackerTopic {
  box-sizing: border-box;
  border: 1px dashed #E6E6FA;
  border-radius: 1px;
  margin: 5px;
  height: fit-content;
  padding: 1px;
  text-align: center;
}

#tripmeter {
  font-size: 12px;
  border: 3px solid #E6E6FA;
  border-radius: 2px;
  width: fit-content;
}

.CmgSoon {
  text-align: center;
  font-size: 30px;
}

/* MEDIA QUERIES */

/* iPhone 11 */
@media (device-width: 414px) and (device-height: 896px) {
  #trackerPageContainer {
    flex-direction: column;
  }
}
