* {
  background-color: #ADD8E6;
  color: #000000
}

h1 {
  font-family: Jokerman, Calibri, sans serif;
}

h3 {
  font-family: Harrington, Calibri, sans serif;
}

p {
  font-family: Century-Gothic, Calibri, sans serif;
}
