* {
  background-color: #191970;
  color: #E6E6FA;
}

#logo {
  font-family: "Segoe Script";
  text-align: center;
  font-size: 100px;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  padding: 100px 30px;
  margin: auto;
  background-image: url("https://github.com/lauren1113/Kayak-Capstone-Project/blob/master/Documents/Design/Kayak%20Photos/logo-photo.jpg?raw=true");
  background-position: bottom 25%;
}

#logoButtonsBox {
  text-align: center;
  margin: 0px 0px 20px 5px;
  font-family: "Segoe Print"
}

#trackerHeading {
  font-family: "Ink Free";
  text-align: center;
  font-size: 95px;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  padding: 5px;
  margin: 25px;
}

#kayakTracker {
  border: 1px solid #E6E6FA;
  padding: 10px;
  border-radius: 7px;
  max-width: 40%;
  max-height: auto;
}

.tracking {
  font-family: "Ink Free";
  font-size: 35px;
  text-align: center;
  padding: 1px 5px;
  border-radius: 2px;
  max-height: 5%;
}

#sw-time, #sw-distance, #sw-pace {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
}

#sw-resetButton, #sw-startButton {
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  display: inline-block;
  border: 5px solid #E6E6FA;
  border-radius: 2px;
  font-size: 50px;
  text-align: center;
}

.trackerTopic {
  box-sizing: border-box;
  border: 1px dashed #E6E6FA;
  border-radius: 1px;
  margin: 5px;
  height: fit-content;
  padding: 1px;
  text-align: center;
}
